html {
  height: 100%;
}

body {
  height: 100%;
}

#nav-tab {
  padding: 4px 8px;
}

#canvas {
  width: 100%;
  max-height: calc(100vh - 140px);
}

#trophies {
  display: flex;
  justify-content: center;
}

#trophies img {
  max-height: 100px;
}

#my-map {
  width: 100%;
  height: calc(100vh - 40px);
}

